html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #333;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  margin: 0; 
}

a {
	color: #bcbbbb;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
 *
 * Header
 *
 */

.header {
	width: 100%;
	margin-top: 1em;
	padding-bottom: 1em;
	border-bottom: medium solid #bcbbbb;
	margin-bottom: 1em;
	text-transform: uppercase;
}

.header_left {
	display: inline-block;
	width: 20%;
}

.header_logo {
	height: 72px;
}

.header_right {
	display: inline-block;
	width: 79%;
}

.header_title {
  font-weight: 300;
  font-size: 3em;
  color: #333;
  text-align: right;
}

.header_subtitle {
  font-weight: 300;
  font-size: 1.5em;
  color: #bcbbbb;
  text-align: right;
}

/*
 *
 * Main
 *
 */

.main_image {
	width: 100%;
	max-width: 1000px;
}

/*
 *
 * Featured Work
 *
 */

.featured_work {
 	margin: 1em 0;
 	width: 100%;
 }

.featured_work_title {
 	font-weight: 300;
  font-size: 2em;
  color: #333;
  text-align: center;
  margin: 1em 0 0.5em;
 }

.portfolio_item {
	margin: 0 auto;
 }

.portfolio_item {
	padding: 0 0 3em;
}

.portfolio_title {
	text-align: center;
}

.portfolio_title a {
 	text-decoration: none;
 	font-weight: 300;
  font-size: 1.5em;
  color: #bcbbbb;
 }

.portfolio_item img {
	display: block;
	width: 100%;
	height: auto;
	max-width: 400px;
	margin: 0 auto;
}
 
